
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Poppins:wght@100;200;300;400;500;600;700&display=swap');

html,body{
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    /* overflow-y: hidden; */
    font-family: 'Poppins';
    height: 100vh;
}
nav{
    display: flex;
}
nav > img{
    margin-left: 20px;
}

.intro-section{
    display: flex;
}

.nav-items{
    display: flex;
    margin-left: 200px;
    justify-content: space-between;
    width: 50%;
    padding: 0;
}

.nav-item{
    margin-left: 90px;
    font-family: 'Poppins';
    font-weight: 300;
    font-size: 1.2em;
    cursor: grab;
    
}
.nav-item.active-item{
    color: #DE4839;
    font-weight: 700;
}
.action-icons{
    position: relative;
    left: 85px;
}
.left-section>h3{
    margin-left: 20px;
    font-size: 2.2em;
    font-weight: 400;
    margin-top: 30px;
}
.left-section>h3>img{
    width: 55px;
    height: 40px;
}
.left-section>h1{
    margin-left: 20px;
    margin-top: 0px;
    font-size: 4em;
    font-family: 'Fredoka One';
    font-weight: 400;
}
.sub-headlines{
    margin-left: 90px;
}
.sub-headline{
    font-size: 1.5em;
    font-weight: 400;
    margin-top: -25px;
}
.sub-headline>img{
    background-color: #DE4839;
    padding: 1px;
    border-radius: 50%;
}
.sub-headline>span{
    position: relative;
    top: -3.5px;
    left: 10px;
}

.text{
    line-height: 1.1rem;
    margin-left: 5px;
    font-weight: 200;
}
.action-btn{
    margin-left: 20px;
    padding: 10px 30px;
    border-radius: 30px;
    background-color: #e05447;
    border: none;
    color: #fff;
    font-size: 1.1em;
    font-family: 'Poppins';
}
img.headphones{
    position: relative;
    top: -350px;
    width: 450px;
    height: 450px;
    margin-right: 50px;
}
.discount{
    position: relative;
    right: 75px;
    z-index: 1;
    top: 200px;
    width: 150px;
    height: 150px;
}
.discount-content{
    z-index: 1;
    position: relative;
    right: 35px;
    top: 10px
}
.discount-content>h4{
    font-family: 'poppins';
    color: #fff;
    font-weight: 400;
    position: relative;
    top: 40px;
}
.discount-content>h1{
    font-family: 'Fredoka One';
    font-weight: 400;
    font-size: 3em;
    position: relative;
    color: #fff;

}
.dots{
    display: flex;
    justify-content: space-between;
    width: 150px;
    position: relative;
    top: -370px;
    left: 150px;
}
.dot.yellow-dot{
    padding: 10px 10px;
    width: 5px;
    height: 5px;
    background-color: yellow;
    border-radius: 50%;
}
.dot.tomato-dot{
    padding: 10px 10px;
    width: 5px;
    height: 5px;
    background-color: #DE4839;
    border-radius: 50%;
}
.dot.black-dot{
    padding: 10px 10px;
    width: 5px;
    height: 5px;
    background-color: black;
    border-radius: 50%;
}
.cart{
    padding: 10px 30px;
    border-radius: 30px;
    background-color: #e05447;
    border: none;
    color: #fff;
    font-size: 1.1em;
    font-family: 'Poppins';
    position: relative;
    top: -350px;
    right: -145px;
}

@media screen and (max-width: 975px) {  

    nav{
        justify-content: space-around;
    }
    .action-icons{
        display: none;
    }
    .nav-items{
        justify-content: flex-end;

    }
    .intro-section{
        flex-direction: column;
        align-items: center;
    }
    .left-section{
        max-height: max-content;
        margin-bottom: 50px;
    }
}
@media screen and (max-width: 630px) {  
    nav{
        /* flex-wrap: wrap; */
        justify-content: center;
        margin: auto 20px;
    }
    .nav-items{
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-end;
        width: 10%;
        padding: 10px;
    }
    
}
@media screen and (max-width: 500px) {  
    nav{
        /* flex-wrap: wrap; */
        justify-content: center;
        margin: auto 20px;
        width: 80%;
    }

    .nav-items{
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-end;
        width: 10%;
        padding: 10px;
    }
}